* {
    font-family: 'Inter', sans-serif;
}

body, footer {
    background-color: #f3f5fc;
}

.logo {
    width: auto;
    height: 50px;
    margin: 40px 0;
}

.textArea {
    position: absolute;
    width: 700px;
    height: 300px;
    left: 100px;
    top: 168px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;
    border: none;
    outline: none;
    background: none;
}

.warningPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 100px;
    top: 495px;
}

.warningImg {
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.warningText {
    position: static;
    width: 205px;
    height: 18px;
    left: 24px;
    top: 0px;

    font-style: normal;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.sidePanel {
    position: absolute;
    width: 400px;
    height: 590px;
    left: 850px;
    top: 40px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.dollImage {
    position: absolute;
    width: 336px;
    height: 304px;
    top: 30px;
}

.messageNotFoundPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 336px;
    height: 122px;
    top: 350px;
    left: 30px;
}

.messageNotFound {
    position: static;
    width: 336px;
    height: 58px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.textInput {
    position: static;
    width: 336px;
    height: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.viewText {
    position: absolute;
    width: 336px;
    height: 480px;
    left: 25px;
    top: 15px;

    font-style: normal;
    font-size: 17px;
    line-height: 150%;

    color: #495057;
    
    border: none;
    resize: none;
    outline: none;
}

.btnCopyText {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 30px;
    top: 510px;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
}

.textCopyText {
    position: static;
    width: 288px;
    height: 19px;
    left: 24px;
    top: 24px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}

.invisible {
	display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 80px;
    top: 530px;
}

.btnEncriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    position: static;
    width: 328px;
    height: 67px;
    
    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.txtEncriptar {
    position: static;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

.btnDesencriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;

    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.txtDesencriptar {
    position: static;
    width: 280px;
    height: 19px;
    left: 24px;
    top: 24px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.by {
    opacity: 0.5;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 380px;
    top: 605px;
}

@media screen and (max-width:480px) {
    .logo {
        height: 80px;
        margin: 30px 0 0 -50px;
    }

    .textArea {
        width: 343px;
        height: 48px;
        left: 16px;
        top: 232px;

        margin: 10px;
    }

    .warningPanel {
        width: 229px;
        height: 18px;
        left: 16px;
    }

    .sidePanel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;

        width: 327px;
        height: 186px;
        left: 12px;
        top: 780px;
    }

    .dollImage {
        display: none;
    }

    .messageNotFoundPanel {
        position: static;
        width: 263px;
        height: 122px;
        left: 32px;
        top: 32px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px 0px;
    }

    .messageNotFound {
        width: 263px;
        height: 58px;
        top: 0px;
        margin: 0 25px;
    }

    .textInput {
        width: 263px;
        height: 48px;
        left: 0px;
        margin: 30px 25px;
    }

    .viewText {
        position: static;
        width: 279px;
        height: 432px;
        left: 32px;
        top: 32px;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 32px 0px;
    }

    .btnCopyText {
        position: static;
        width: 279px;
        height: 67px;
        top: 496px;
        
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px;

        background: #FFFFFF;
    }

    .textCopyText {
        margin: 0 -50px;
    }

    .buttons {
        flex-direction: column;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 525px;
    }

    .btnDesencriptar {
        margin: 24px;
    }

    .by {
        left: 110px;
        top: 725px;
    }
}

@media screen and (min-width: 481px) and (max-width:992px) {
    .logo {
        margin: 70px 0 0 -5px;
    }

    .textArea {
        width: 90%;
        height: 48px;
        top: 264px;
        left: 0px;

        margin: 50px;
    }

    .warningPanel {
        left: 40px;
        top: 836px;
    }

    .sidePanel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;

        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
        
        border-radius: 32px;
    }

    .dollImage {
        display: none;
    }

    .messageNotFoundPanel {
        position: static;
        width: 624px;
        height: 90px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        margin: 25px;
    }

    .messageNotFound {
        width: 624px;
        height: 29px;
        margin: 10px;
    }

    .textInput {
        width: 624px;
        height: 24px;
    }

    .viewText {
        position: static;
        width: 624px;
        height: 180px;
        left: 32px;
        top: 32px;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 32px 0px;
    }

    .btnCopyText {
        position: static;
        width: 624px;
        height: 67px;
        
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 25px;
    }

    .buttons {
        left: 40px;
        top: 870px;
    }

    .by {    
        left: 300px;
        top: 960px;
    }
}